<aside role="complementary">
  <h2>Address</h2>
  <div id="hcard-James-Archer" class="vcard">
   <span class="fn">James Archer</span>
   <div class="org">Bryncws Farm</div>
   <div class="adr">
    <span class="street-address u-block">St Dogmaels</span>
    <span class="locality u-block">Cardigan</span>
    <span class="region u-block">Pembrokeshire</span>
    <span class="postal-code u-block"><a href="https://goo.gl/maps/PpjEdqKgEPS2" title="Link to Google Map">SA43 3JS</a></span>
   </div>
   <div class="tel"><a title="Make phone call" href="tel:+4401239614287">01239 614 287</a></div>
   <a class="email u-block" href="mailto:contact@bryncws.co.uk">contact@bryncws.co.uk</a>
  </div>
  <h2>Bookings</h2>
  <p>Please phone <a title="Make phone call" href="tel:+4401239614287">01239 614 287</a> to book</p>
  <h2>Directions</h2>
  <ul>
    <li><a href="https://goo.gl/maps/PpjEdqKgEPS2" title="Link to Google Map">Google Map</a></li>
    <li>SatNav postcode is <strong>SA43 3JS</strong></li>
  </ul>
  <h2>Pricing</h2>
  <p>£8.00 - £13.00 for 2 Adults, 2 Children plus 1 Unit</p>
{{!-- Posts output commented out --}}
  {{!--
  {{#each collections }}
  <h2>Posts</h2>
    <ol class="o-list-disc">
    {{#each this }}
      <li><a href="/{{ this.path }}">{{ this.title }}</a></li>
    {{/each}}
    </ol>
  {{/each}}
   --}}
</aside>
