<footer class="footer" id="footer" role="contentinfo">
  <div class="footer__social footer__link">
    <ol class="o-list-bare o-list-center">
      <li><a href="https://twitter.com/Bryncws" title="Link to Bryncws Twitter account">Twitter</a></li>
      <li><a href="https://www.flickr.com/photos/bryncws/" title="Link to Bryncws Flickr photos">Flickr</a></li>
      <li><a href="mailto:contact@bryncws.co.uk" title="Email link for Bryncws Farm">Email</a></li>
      <li><a href="https://www.bryncws.co.uk/rss.xml" title="Link to news feed">RSS</a></li>
    </ol>
  </div>
  <div class="footer__small footer__link">
    <p>Built by <a href="https://www.growdigital.org/">Jake Rayson</a> with <a href="http://www.metalsmith.io/">Metalsmith</a>, deployed by <a href="https://www.netlify.com/">Netlify</a></p>
    <p>Website content copyright &copy; Bryncws Farm. Website <a href="https://github.com/growdigital/bryncws.co.uk">software</a> licensed under <a href="https://choosealicense.com/licenses/mit/">MIT</a> &amp; <a href="https://choosealicense.com/licenses/gpl-3.0/">GPL v3</a>
  </div>
</footer>
