<!doctype html>
<html lang="en-gb">
{{> head}}
<body class="no-js photos">
  {{> header}}

  <div class="wrapper">
    <div id="Flickfeed"></div>
  </div>{{!-- end .wrapper --}}
  {{> footer}}
<script src="/assets/scripts.js"></script>
<script type="text/javascript">
  Flickfeed({
    userId: "153846228@N03",
    limit: 10,
    target: "#Flickfeed",
    size: 'm', // 240
    sort: 'date-posted-desc'
  });
</script>
</body>
</html>
